<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../../shared/main.css">
  <link rel="stylesheet" href="../../shared/list.css">
</head>

<body>
  <div id="demo">
    <List :items="listItems">
      <template scope="slotProps" class="list-item">
        <input type="checkbox" v-model="slotProps.item.completed" class="list-item__checkbox" />
        <div class="list-item__title">{{slotProps.item.name}}</div>
      </template>
    </List>
  </div>

  <template id="template-list">  
    <div class="list">
      <div v-for="item in items" class="list-item">
        <slot :item="item"></slot>
      </div>
    </div>
  </template>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script>
  <script>
  Vue.component("List", {
    template: "#template-list",
    props: {
      items: {
        type: Array, 
        default: []
      }
    }
  });
  
  new Vue({ 
    el: '#demo',
    data: {
      listItems: [
        {id: 1, name: "item 1", completed: false},
        {id: 2, name: "item 2", completed: false},
        {id: 3, name: "item 3", completed: false}
      ]
    }
  });
  </script>
</body>
</html>