<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../../shared/main.css">
  <link rel="stylesheet" href="../../shared/list.css">
</head>

<body>
  <div id="demo">
    <List :items="listItems">
      <template slot-scope="{item}" class="list-item">
        <input type="checkbox" v-model="item.completed" class="list-item__checkbox" />
        <div class="list-item__title">{{item.name}}</div>
        <button @click="remove(item)" class="list-item__remove">×</button>
      </template>
    </List>
  </div>

  <template id="template-list">  
    <div class="list-container">
      <input type="text" v-model="searchStr" placeholder="Filter by...">
      <div class="list">
        <div v-for="item in filteredItems" class="list-item">
          <slot :item="item"></slot>
        </div>
      </div>
    </div>
  </template>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script>
  <script>
  Vue.component("List", {
    template: "#template-list",
    data() {
      return {
        searchStr: ""
      }
    },
    props: {
      items: {
        type: Array, 
        default: []
      }
    },
    computed: {
      filteredItems() {
        if (this.searchStr.length > 0) {
          return this.items.filter(item => item.name.indexOf(this.searchStr) !== -1);
        } else {
          return this.items;
        }
      }
    }
  });
  
  new Vue({ 
    el: '#demo',
    data: {
      listItems: [
        {id: 1, name: "item 1", completed: false},
        {id: 2, name: "item 2", completed: false},
        {id: 3, name: "item 3", completed: false}
      ]
    },
    methods: {
      remove(item) {
        this.listItems.splice(this.listItems.indexOf(item), 1);
      }
    }
  });
  </script>
</body>
</html>