<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../../shared/main.css">
  <link rel="stylesheet" href="../../shared/table.css">
</head>

<body>
  <div id="demo">
    <h2>Sortable Demo</h2>
    <p>
      Reference: <a href="https://vuejs.org/v2/examples/grid-component.html">Vue.js Examples</a>
    </p>
    <sortable-table
      :data="gridData"
      :columns="gridColumns">
    </sortable-table>
  </div>

  <template id="sortable-table-template">
    <table>
      <thead>
        <tr>
          <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }">
            {{ key | capitalize }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in sortedData">
          <td v-for="key in columns">
            {{entry[key]}}
          </td>
        </tr>
      </tbody>
    </table>
  </template>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script>
  <script>
    Vue.component('sortable-table', {
      template: '#sortable-table-template',
      props: {
        data: Array,
        columns: Array,
        filterKey: String
      },
      data() {
        var sortOrders = {}
        this.columns.forEach(function (key) {
          sortOrders[key] = 1
        })
        return {
          sortKey: 'name',
          sortOrders: sortOrders
        }
      },
      computed: {
        sortedData: function () {
          var sortKey = this.sortKey
          var order = this.sortOrders[sortKey] || 1
          var data = this.data
          if (sortKey) {
            data = data.slice().sort(function (a, b) {
              a = a[sortKey]
              b = b[sortKey]
              return (a === b ? 0 : a > b ? 1 : -1) * order
            })
          }
          return data
        }
      },
      filters: {
        capitalize: function (str) {
          return str.charAt(0).toUpperCase() + str.slice(1)
        }
      },
      methods: {
        sortBy: function (key) {
          this.sortKey = key
          this.sortOrders[key] = this.sortOrders[key] * -1
        }
      }
    });
    new Vue({ 
      el: '#demo',
      data: {
        gridColumns: ['name', 'power'],
        gridData: [
          { name: 'Chuck Norris', power: Infinity },
          { name: 'Bruce Lee', power: 9000 },
          { name: 'Jackie Chan', power: 7000 },
          { name: 'Jet Li', power: 8000 }
        ]
      }
    });
  </script>
</body>
</html>