.carousel {
  width: 300px;
}

.slide-container {
  position: relative;
  height: 200px
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px
}

.slide img {
  width: auto;
  height: 200px;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.carousel-controls button + button {
  margin-left: 1rem;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to { 
  opacity: 0;
}