<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../../shared/main.css">
  <style>
    body {
      max-width: 40rem;
      margin: 0 auto;
      padding: 1em;

      color: #555;
    }

    section {
      margin: 1rem;
    }
  </style>
</head>

<body>
  <div id="demo">
    <article-card id="1"></article-card>
    <article-card id="2"></article-card>
    <another-article-card id="1"></another-article-card>
  </div>

  <template id="article-card-template">  
    <div>
      <div v-if="loading">Loading...</div>
      <div v-else>
        <h2>{{articleTitle}}</h2>
        {{body}}
      </div>
    </div>
  </template>

  <template id="another-article-card-template">  
    <div>
      <div v-if="loading">Loading...</div>
      <div v-else>
        <h2>{{articleTitle}}</h2>
        <p>Written by User ID: {{userId}}</p>
        {{body}}
      </div>
    </div>
  </template>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

  <script>
    const BaseArticleCard = Vue.extend({
      data() {
        return {
          loading: false,
          title: "",
          body: "",
          userId: ""
        }
      },
      computed: {
        articleTitle() { 
          return `Article: ${this.title}`;
        }
      },
      methods: {
        load(id) {
          this.loading = true;
          return axios.get(`https://jsonplaceholder.typicode.com/posts/${id}`)
            .then(response => {
              this.title = response.data.title;
              this.body = response.data.body;
              this.userId = response.data.userId;
              this.loading = false;
            });
        }
      },
      created() {
        this.load(this.id);
      }
    });

    Vue.component("article-card", {
      extends: BaseArticleCard,
      template: "#article-card-template",
      props: ["id"]
    });

    Vue.component("another-article-card", {
      extends: BaseArticleCard,
      template: "#another-article-card-template",
      props: ["id"]
    });
    
    new Vue({ 
      el: '#demo'
    });
  </script>
</body>
</html>